:root {
  --color-black: #000000;
  --color-dark: #2f4550;
  --color-medium: #586f7c;
  --color-light: #b8dbd9;
  --color-bg: #f4f4f9;
  
  --gradient-start: #2A7B9B;
  --gradient-end: #57C785;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-bg);
  color: var(--color-black);
}

#root {
  min-height: 100vh;
}




